#demo {
    border: seagreen;
    border-radius: 20px;
    border-style: groove;
    display: inline-block;
}

.nav-item {
    font-weight: bolder;
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color:crimson;

}